body {
  background-color: #56788f !important;
}

.section {
  width: 98%;
  max-height: 45%;
  padding: 1%;
  background-color: #3e6885;
  border-radius: 8px;
  color: white;
  overflow: auto;
  margin-top: 2%;
  margin-left: 1%;
}


.table th {
  color: white;
}

.table tr {
  color: #c0dbed;
}


#client-dash #order-button {
  height: 20% !important;
  width: 33% !important;
  float: left;
  font-size: xxx-large;
  margin-left: 1%;
  margin-top: 1%;
}


.modal-content {
  background-color: rgba(33, 65, 81, .9);
  color: white;
}


#order-creation-form {
  width: 80%;
  margin-bottom: 0;
  margin: auto;
	text-align: center;
}

#order-creation-form label {
  display: block;
  text-align: left;
}

label input, label textarea {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.form_submit {
	border-radius: 8px;
  margin-top: .5em;
  padding: .3em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  border-color: #0057b5;
  background:#0057b5;
  font-weight: bold;
  color: white;
}

.close {
  color: white;
}


@media only screen and (min-width: 600px){

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 992px){

}

@media only screen and (min-width: 1200px){

}


@media only screen and (min-width: 1500px){
	.section{
    width: 48.5%;
    height: 45%;
    max-height: 100%;
    margin-top: 0;
  }

  #unclaimed-orders {
    height: 91.5%;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
  }

  #pending-orders {
    float: right;
    margin: 1%;
  }

  #order-history {
    float: right;
    margin-right: 1%;
  }

  #client-dash #client-info {
    float: left;
    height: 70%;
    width: 33%;
    margin-left: 1%;
    margin-top: 1%;
  }


  #client-dash #pending-orders {
    width: 64%;
    float: right;
  }


  #client-dash #order-history {
    width: 64%;
    float: right;
  }
}
