<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css">
        <title>Login</title>
    </head>
    <body>
        <Center><h1>Login</h1></Center>
        <div class="topnav">
            <a class="active" href="../../../../maps.html">Home</a>
            <a class="hover" href="create_client.html">Create User</a>
            <a class="hover" href="create_contractor.html">Create Contractor</a>
        </div>
        <Center>
            <div class="inputbox">
                <h3>Enter Username:</h3><input>
                <h3>Enter Password:</h3><input>
                <br/><br/><button>Submit</button>
            </div>
        </Center>
    </body>
</html>