<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel="stylesheet" type="text/css"> 
    <title>Create Client</title>
  </head>
  <body>
    <Center><h1>Create a New Client Account</h1></Center>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a class="hover" href="/accounts/create/contractor/">Create Contractor</a>
    </div>
    <Center>
      <div class="inputbox">
        <h3>Enter your choice of a username:</h3><input>
        <h3>Enter your first name:</h3><input>
        <h3>Enter your last name:</h3><input>
        <h3>Enter your current address:</h3><input>
        <h3>Enter the method of payment you will be using:</h3><input>
        <h3>Enter your choice of a password:</h3><input>
        <h3>Enter your Email:</h3><input>
        <h3>Enter your phone number:</h3><input>
        <h3>Enter the approximate size of your driveway:</h3><input>
        <br/><br/><button href="/accounts/create/verification/">Submit</button>
      </div>
    </Center>
  </body>
</html>
