<!DOCTYPE html>
<html>
  <head>
    <link href="/static/accounts/css/style.css" rel="stylesheet" type="text/css">
    <title>Verified</title>
  </head>
  <body>
    <Center>
      <h1>Account Creation Successful!</h1>
      <div class="topnav">
        <a class="active" href="/">Logout</a>
      </div>
      <div class="inputbox">
        <h2>Thank you for choosing our service!</h2>
        <button onclick="javascript:window.location.href='/accounts/client/dashboard/'">Visit Dashboard</button>
      </div>
    </Center>
  </body>
</html>
