<!DOCTYPE html>
<html>
  <head>
    <link href="/static/shared/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/accounts/css/style.css" rel="stylesheet" type="text/css">
    <title>Create Client</title>
  </head>
  <body>
    <Center><h1>Create a New Client Account</h1></Center>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a class="hover" href="/accounts/create/contractor/">Create Contractor</a>
    </div>
    <Center>
      <form class="create_form" method="post">
        <h2>Client Creation Form</h2>
        {% csrf_token %}
        {{ form }}
        <input class="form_submit" type="submit" value="Submit">
      </form>
    </Center>
  </body>
</html>
